[submodule "submodules/Workgroup_Blender"]
	path = submodules/Workgroup_Blender
	url = R:/Workgroup_Blender

[submodule "submodules/Workgroup_Maya"]
	path = submodules/Workgroup_Maya
	url = R:/Workgroup_Maya

[submodule "submodules/Workgroup_Unreal"]
	path = submodules/Workgroup_Unreal
	url = R:/Workgroup_Unreal

[submodule "submodules/Workgroup_Nuke"]
	path = submodules/Workgroup_Nuke
	url = R:/Workgroup_Nuke

[submodule "submodules/kit-app-template"]
	path = submodules/kit-app-template
	url = D:/NVIDIA-Omniverse/kit-app-template

[submodule "submodules/Deploy"]
	path = submodules/Deploy
	url = D:/_DEPLOY

[submodule "submodules/OpenRV"]
	path = submodules/OpenRV
	url = D:/OpenRV

[submodule "submodules/HandBrake"]
	path = submodules/HandBrake
	url = D:/HandBrake

[submodule "submodules/UnrealEngine"]
	path = submodules/UnrealEngine
	url = D:/EpicGames/UnrealEngine

[submodule "submodules/Blender"]
	path = submodules/Blender
	url = D:/Blender
